.container{
  background-color: rgba(249, 250, 251, 1);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  .wrraper{
    height: 100%;
    width: 100%;
    max-width: 32rem;
    position: relative;
  }

  .back-dot{
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    position: absolute;
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    mix-blend-mode: multiply;
    filter: blur(24px);
  }
  .dot1{
    top:0;
    left:-1rem;
    background-color: rgba(196, 181, 253, 1);
  }
  .dot2{
    top:0;
    right: -1rem;
    background-color: rgba(252, 211, 77, 1);
  }
  .dot3{
    bottom: -2rem;
    left: 8rem;
    background-color: rgba(249, 168, 212,1);
  }

  .content-box{
    margin-top: 2rem;
    position: relative;
    & > :not([hidden]) ~ :not([hidden]){
      margin-top: 1rem;
    }
    .box{
      padding: 1.25rem;
      background-color: #fff;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > :not([hidden]) ~ :not([hidden]) {
        margin-left: 2rem;
      }
    }
    .box1-left,.box2-left,.box3-left{
      flex: 1;
      height: 1rem;
      background-color: rgba(209, 213, 219,1);
      border-radius: 0.25rem;
    }
    .box1-right{
      width: 6rem;
      height: 1.25rem;
      border-radius: 0.5rem;
      background-color: rgba(196, 181, 253, 1);
    }
    .box2-right{
      width: 5rem;
      height: 1.5rem;
      border-radius: 0.5rem;
      background-color: rgba(252, 211, 77, 1);
    }
    .box3-right{
      width: 7rem;
      height: 1.5rem;
      border-radius: 0.5rem;
      background-color: rgba(244, 114, 182, 1);
    }
  }
}


@keyframes pulse {
  50% {
    opacity: .5;
  }
}
